<!DOCTYPE html>
<html>
  <head>
    <title>UwUelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   
    
    <%= stylesheet_link_tag 'application', media: 'all' %> 
    <%= csrf_meta_tags %> 
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Ubuntu' %>

     <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyALGGai6OviXovIkJLYGAPUoXIO93JrNy4&" %> 

  </head>

  <body>
    <%= yield %>
  </body>
</html>
