<!DOCTYPE html>
<html>
  <head>
    <title>UwUelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
    
    <%= stylesheet_link_tag 'application', media: 'all' %> 
    <%= csrf_meta_tags %> 
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', '//fonts.googleapis.com/css?family=IBM+Plex+Sans' %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBTJsPAfSXLLdny4VZi-j5qbasNYRLn3WY&" %> 

    <%= favicon_link_tag asset_path('favicon.jpg') %>
    <script type="text/javascript">
      window.one = "<%= image_url('1.png') %>";
      window.oneHalf = "<%= image_url('1half.png') %>";
      window.two = "<%= image_url('2.png') %>";
      window.twoHalf = "<%= image_url('2half.png') %>";
      window.three = "<%= image_url('3.png') %>";
      window.threeHalf = "<%= image_url('3half.png') %>";
      window.four = "<%= image_url('4.png') %>";
      window.fourHalf = "<%= image_url('4half.png') %>";
      window.five = "<%= image_url('5.png') %>";
      window.notFound = "<%= image_url('notfound.png') %>";
      window.bk1 = "<%= image_url('bk1.png') %>";
      window.bk2 = "<%= image_url('bk2.png') %>";
      window.bk3 = "<%= image_url('bk3.png') %>";
      window.closeBut = "<%= image_url('close_icon.png') %>";
      window.saitama = "<%= image_url('saitama.png') %>";
      window.footerImg = "<%= image_url('footer_cityscape.png') %>";
      window.resume = "<%= image_url('Liao_Jason_Resume.pdf') %>";
    </script>



  </head>
  
  <body>
    <%= yield %>
  </body>


</html>
