<!DOCTYPE html>
<html>
  <head>
    <title>UwUelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
    
    <%= stylesheet_link_tag 'application', media: 'all' %> 
    <%= csrf_meta_tags %> 
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', '//fonts.googleapis.com/css?family=Ubuntu' %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyALGGai6OviXovIkJLYGAPUoXIO93JrNy4&" %> 

    <%= favicon_link_tag asset_path('favicon.jpg') %>
    <script type="text/javascript">
      window.one = "<%= image_url('1.png') %>";
      window.oneHalf = "<%= image_url('1half.png') %>";
      window.two = "<%= image_url('2.png') %>";
      window.twoHalf = "<%= image_url('2half.png') %>";
      window.three = "<%= image_url('3.png') %>";
      window.threeHalf = "<%= image_url('3half.png') %>";
      window.four = "<%= image_url('4.png') %>";
      window.fourHalf = "<%= image_url('4half.png') %>";
      window.five = "<%= image_url('5.png') %>";
      window.notFound = "<%= image_url('notfound.png') %>";
      window.bk1 = "<%= image_url('bk1.png') %>";
      window.bk2 = "<%= image_url('bk2.png') %>";
      window.bk3 = "<%= image_url('bk3.png') %>";
      window.closeBut = "<%= image_url('close_icon.png') %>";
    </script>
  </head>
  
  <body>
    <%= yield %>
  </body>



  <footer>
    <div class="footer-div">
      <img src="<%= image_url('picofmeself.jpg') %>" />
      <div>
        <p>
        Hello, my name is Jason; I'm a biochemistry graduate from UCSD turned software engineer. This is my full stack clone of Yelp, UWUelp. In the time since I graduated from UCSD, I've developed an interest in programming, because of my interest in problem solving over rote memorization. In my free time away from programming, I like to watch anime, play basketball, and hang out with friends!
        </p>
      </div>

      <div class="sc-links-div">
        <a href="https://github.com/jasonliao122895"><img id="sc-icon" src="<%= image_url('github.png') %>" alt="">
        </a>
        <a href="https://www.linkedin.com/in/jliao1228/"><img id="linked-icon" src="<%= image_url('linkedin.png') %>" alt=""></a>
      </div>
    </div>
  </footer> 

</html>
