<!DOCTYPE html>
<html>
  <head>
    <title>UwUelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Ubuntu' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
